<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="General_Module">
		<classes>
			<class name="General.Login"></class>
			<class name="General.AddBank"></class>
			<class name="General.AddBankAccount"></class>
		</classes>
	</test> <!-- LoginTest -->
</suite> <!-- Suite -->
